@media (max-width: 600px) {
    body {
        margin: 0;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        background-color: #4E3B31;
        position: relative;
        z-index: 10;
        border: none;
    }

    main {
        max-width: 90%;
        padding: 1rem;
        margin: 0 auto;
    }

    h2 {
        font-size: 2rem;
    }

    footer {
        padding: 1rem;
        background-color: #4E3B31;
        color: #FFF5E1;
        text-align: center;
    }
}

