body {
    margin: 0;
    font-family: "Abel", sans-serif;
}

header {
    background-color: rgb(45, 3, 42);
    color: white;
    text-align: center;
    padding: 3px 0;
}

.review-container {
    background-color: #d5cdd5;
    padding: 15px;
    margin: 15px auto;
    max-width: 90%;
    border-radius: 10px;
}

.review-container label {
    display: block;
    margin: 10px 0 5px;
}

#name {
    width: 100%;
    max-width: 400px;
    padding: 5px;
    box-sizing: border-box;
}

.features-container {
    display: flex;
    flex-direction: column;
}

.feature-item {
    display: flex;
    align-items: center;
}

.rating-container {
    display: flex;
    flex-direction: column;
}

.rating-container div {
    display: flex;
    align-items: center;
}

.rating-container input[type="radio"] {
    margin-right: 10px;
}

.rating-container label {
    font-size: 15px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 3px 0;
    background-color: rgb(45, 3, 42);
    color: white;
}

.submit-button {
    display: block;
    width: calc(100% - 30px);
    margin: 30px auto 10px;
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
}

textarea {
    margin-bottom: 15px;
    width: calc(100% - 20px);
    padding: 10px;
    box-sizing: border-box;
}

.optional-text {
    color: #00087c;
}

@media (max-width: 720px) {
    #name {
        max-width: 100%;
    }
}
