body {
    margin: 0;
    font-family: "Abel", sans-serif;
}

header {
    background-color: rgb(45, 3, 42);
    color: white;
    text-align: center;
    padding: 3px 0;
    max-width: 480px;
    margin: 0 auto;
}

.review-container {
    background-color: #d5cdd5;
    padding: 30px;
    margin: 15px auto;
    max-width: 420px;
    border-radius: 10px;
}

.review-container label {
    display: block;
    margin: 0px 0;
}

.review-container strong {
    font-weight: bold;
}

.features-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.feature-item {
    display: flex;
    align-items: center;
}

.rating-container {
    position: relative;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #2d032a;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: gold;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: gold;
    cursor: pointer;
}

.rating-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

footer {
    text-align: center;
    padding: 3px 0;
    background-color: rgb(45, 3, 42);
    color: white;
    max-width: 480px;
    margin: 0 auto;
}

.submit-button {
    display: block;
    width: calc(100% - 30px);
    margin: 30px auto 10px;
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
}

textarea {
    margin-bottom: 15px;
}



.abel-regular {
    font-family: "Abel", sans-serif;
    font-weight: 400;
}


.montserrat-alternates-thin {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.montserrat-alternates-extralight {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.montserrat-alternates-light {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.montserrat-alternates-regular {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat-alternates-medium {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.montserrat-alternates-semibold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.montserrat-alternates-bold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.montserrat-alternates-extrabold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.montserrat-alternates-black {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.montserrat-alternates-thin-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.montserrat-alternates-extralight-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.montserrat-alternates-light-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.montserrat-alternates-regular-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.montserrat-alternates-medium-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.montserrat-alternates-semibold-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.montserrat-alternates-bold-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.montserrat-alternates-extrabold-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.montserrat-alternates-black-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    font-style: italic;
}
